@each $size, $width in $form-widths {
	.w-#{$size} {
		width: $width;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

.search-hidden, .toggle-hidden, .panel-block.toggle-hidden {
	display: none;
}
.height-overflow-wrap {
	overflow-y: auto;
}
.tabs ul {
	margin: 0;
	padding: 0;
}
.modal-card.scroll {
	.modal-card-body {
		max-height: 60vh;
		overflow-y: auto;
	}
}
.notification {
	width: 100%;
}
.messages {
	position: relative;
	.messages-indicator {
		padding: 0;
		height: 1rem;
		width: 1rem;
		position: absolute;
		top: 0;
		right: 0;
	}
}