.icon, .panel-icon {
	@each $name, $pair in $colors {
		$color: nth($pair, 1);
		$color-invert: nth($pair, 2);
		&.is-#{$name} {
			rect {
				fill: $color!important;
			}
			&:hover,
			&.is-hovered {
				rect {
					fill: bulmaDarken($color, 2.5%)!important;
				}
			}
			&.is-inverted {
				rect {
					fill: $color-invert!important;
				}
				&:hover,
				&.is-hovered {
					rect {
						fill: bulmaDarken($color-invert, 5%)!important;
					}
				}
			}
			// If light and dark colors are provided
			@if length($pair) >= 4 {
				$color-light: nth($pair, 3);
				$color-dark: nth($pair, 4);
				&.is-light {
					rect {
						fill: $color-light!important;
					}
					&:hover,
					&.is-hovered {
						rect {
							fill: bulmaLighten($color-light, 2.5%)!important;
						}
					}
				}
				&.is-dark {
					rect {
						fill: $color-dark!important;
					}
					&:hover,
					&.is-hovered {
						rect {
							fill: bulmaDarken($color-dark, 2.5%)!important;
						}
					}
				}
			}
		}
	}
}