/*** Colors ***/

$teal: #00d192;
$yellow: #efe212;
$purple: #8d63a2;

$primary: $purple;
$secondary: $yellow;
$tertiary: $teal;

$custom-colors: (
	//"secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark)
	"secondary": ($secondary),
	"tertiary": ($tertiary)
);

/*** Colors ***/

/*** Fonts ***/

$family-sans-serif: 'Open Sans', sans-serif;
$family-serif: 'PT Serif', serif;
$family-monospace: monospace;
$family-primary: $family-sans-serif;
$family-secondary: $family-serif;
$family-code: $family-monospace;

/*** Fonts ***/

/*** Sizes ***/

$size-small: 0.85em;

$form-widths: (
	"small": 550px
);

/*** Sizes ***/