@import "../variables";
@import "variables";
@import "../../../node_modules/bulma/bulma";
@import "../icons";
@import "../form";
@import "../all";
@import "../auth";

.panel-students .height-overflow-wrap {
	height: 200px;
	overflow: hidden;
}